.page {
  max-width: 1300px;
  width: 100%;
  height: 80%;
  margin: auto;
  text-align: center;
}

.aboutContainer{
  width: 80%;
  height: 50%;
  margin-top: 20px;
  margin: auto;
  padding: 70px;
  display: flex;
  justify-content: space-between;
  border-radius: 48px;
  background-color: #C32F27;
}

.title {
  font-weight: 900;
  font-size: 3em;
  line-height: 58px;
  color: white;
  text-align: center;
}

.description {
  width: 70%;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: black;
  margin: auto;
}

.ol{
  outline-style: dotted;
}
