<main class="page -col">
  <section>
    <div class="aboutContainer ">
      <div class="title" >
        How does this site work?
        <div class="description ">
          <p>This site is a recreation of WeChat's red pocket feature. Create a Redpocket with your desired amount, and choose between
            equally spliting the amount between participants, or randomly generating values for participants. After all the money is claimed,
            the creator should then pay out the participants.</p>

          <p>The creators have to manually pay out each of the participants, using the information on their creator link.</p>
        </div>
      </div>
      <div>
        <img [routerLink]="['/']" src="../../../assets/HowTo.png" style="height: 60%; width: 100%; margin-top: 30%;">
      </div>
    </div>
  </section>
</main>
